@import '@/styles/mixins.scss';

.booking-variants {
  position: relative;

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;
    }

    @include media-breakpoint-between(lg, xxxl) {
      margin-top: 30px;
      gap: 30px;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 40px;
      gap: 40px;
    }
  }
}
