@import '@/styles/mixins.scss';

.profile-logout {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &__text {
    color: #fff;
    font-weight: 600;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    @include media-breakpoint-between(md, xxxl) {
      font-size: 16px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 22px;
    }
  }

  &__icon {
    display: flex;

    @include media-breakpoint-down(md) {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }

    @include media-breakpoint-between(md, xxxl) {
      width: 22px;
      height: 22px;
      margin-left: 10px;
    }

    @include media-breakpoint-up(xxxl) {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
