@import '../styles/mixins.scss';

* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--black, #212428);
}

.main {
  flex-grow: 1;

  &.account {
    @include media-breakpoint-down(xl) {
      padding-top: 14px;
      padding-bottom: 150px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 94px;
    }

    @include media-breakpoint-between(xl, xxl) {
      padding-top: calc(79px + 30px);
    }

    @include media-breakpoint-between(xxl, xxxl) {
      padding-top: calc(60px + 69px);
    }

    @include media-breakpoint-up(xxxl) {
      padding-top: calc(84px + 50px);
    }
  }
}

.booking-page__wrapper {
  @include media-breakpoint-up(xxxl) {
    padding-top: 32px;
  }
}

.account-page-wrapper {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(xl) {
    gap: 20px;
  }

  @include media-breakpoint-between(xl, xxxl) {
    gap: 30px;
  }

  @include media-breakpoint-up(xxxl) {
    gap: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}


.booking-calendar__calendar {
  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-between(xl, xxl) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-between(xxl, xxxl) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(xxxl) {
    margin-bottom: 40px;
  }
}

.booking-calendar__calendar,
.training-calendar__calendar {
  width: 100%;
  .p-datepicker-inline {
    background: transparent;
    border: none;

    color: var(--white, #fff);
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }

    @include media-breakpoint-between(xl, xxl) {
      font-size: 26px;
    }

    @include media-breakpoint-between(xxl, xxxl) {
      font-size: 30px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 38px;
    }

    span:hover {
      background: transparent;
    }
  }

  .p-datepicker-header {
    background: transparent;
    border: unset;
    justify-content: center;
    position: relative;

    @include media-breakpoint-down(xl) {
      margin-bottom: 14px;
      gap: 14px;
    }

    @include media-breakpoint-between(xl, xxxl) {
      margin-bottom: 28px;
      gap: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      margin-bottom: 50px;
      gap: 30px;
    }
  }

  .p-datepicker-prev,
  .p-datepicker-next {
    color: white;

    @include media-breakpoint-down(xl) {
      width: 15px;
      height: 15px;
    }

    @include media-breakpoint-up(xl) {
      width: 22px;
      height: 30px;
    }

    &:hover {
      background: transparent;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .p-datepicker-title {
    color: var(--white, #fff);
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;

    @include media-breakpoint-down(xl) {
      font-size: 12px;
    }

    @include media-breakpoint-between(xl, xxxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 26px;
    }

    > button:first-child {
      order: 2;
    }

    > button:not(:first-child) {
      order: 1;
    }
  }

  .p-datepicker table td > span {
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: calc(100% - 6px) !important;
    margin: 2px 3px;
    text-align: center !important;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
      width: 30px;
      height: 30px;
    }

    @include media-breakpoint-between(xl, xxl) {
      font-size: 26px;
      width: 50px;
      height: 50px;
    }

    @include media-breakpoint-between(xxl, xxxl) {
      font-size: 30px;
      width: 50px;
      height: 50px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 38px;
      width: 70px;
      height: 70px;
    }
  }

  .p-datepicker table td > span.p-highlight {
    background: var(--white, #fff) !important;
    color: var(--dark-grey, #37393d);

    @include media-breakpoint-down(md) {
      border-radius: 5px;
    }

    @include media-breakpoint-between(md, xl) {
      border-radius: 12px;
    }

    @include media-breakpoint-up(xl) {
      border-radius: 17px;
    }
  }

  .p-datepicker table td > span {
    @include media-breakpoint-down(md) {
      border-radius: 5px;
    }

    @include media-breakpoint-between(md, xl) {
      border-radius: 12px;
    }

    @include media-breakpoint-up(xl) {
      border-radius: 17px;
    }
  }

  .p-datepicker table td.p-datepicker-today > span {
    background: var(--white, #ffffff36);
    color: var(--dark-grey, #37393d);
  }

  .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled) {
    &:hover {

      @include media-breakpoint-up(xl) {
        background: var(--white, #ffffff36);
        color: var(--dark-grey, #37393d);
      }
      
    }
  }

  .p-datepicker table th > span {
    color: var(--white, #fff);
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;

    @include media-breakpoint-down(xl) {
      font-size: 12px;
    }

    @include media-breakpoint-between(xl, xxxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 26px;
    }
  }

  .p-datepicker table th {
    padding-bottom: 10px;
  }

  .p-datepicker-title {
    display: flex;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
      gap: 5px;
    }

    @include media-breakpoint-up(lg) {
      gap: 10px;
    }
  }

  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
  .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    color: var(--white, #fff);
    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;

    @include media-breakpoint-down(xl) {
      font-size: 12px;
    }

    @include media-breakpoint-between(xl, xxxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 26px;
    }
  }

  .p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
    background: transparent;
    color: var(--white, #fff);
  }

  .tableheader {
    background-color: red !important;
  }
}
