@import '@/styles/mixins.scss';

.booking-hero {
  position: relative;

  &__wrapper {
    position: relative;
    overflow: hidden;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) -13%, #294ae7 100.21%);

    @include media-breakpoint-down(lg) {
      padding: 15px 17px 19px;
      border-radius: 15px;
    }

    @include media-breakpoint-between(lg, xxl) {
      padding: 25px;
      border-radius: 20px;
    }

    @include media-breakpoint-between(xxl, xxxl) {
      padding: 30px 30px 32px 30px;
      border-radius: 22.5px;
    }

    @include media-breakpoint-up(xxxl) {
      padding: 40px 40px 45px 40px;
      border-radius: 30px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    color: var(--white, #fff);
    font-weight: 500;
    line-height: 112%;
    width: 100%;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
      letter-spacing: -0.16px;
      margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 230px;
    }

    @include media-breakpoint-between(sm, md) {
      max-width: 65%;
    }

    @include media-breakpoint-between(md, lg) {
      max-width: 57%;
    }

    @include media-breakpoint-between(lg, xl) {
      max-width: 65%;
    }

    @include media-breakpoint-between(lg, xxl) {
      margin-top: 50px;
      font-size: 28px;
      letter-spacing: -0.4px;
    }

    @include media-breakpoint-between(xl, xxl) {
      max-width: 55%;
    }

    @include media-breakpoint-between(xxl, xxxl) {
      font-size: 30px;
      margin-top: 82.5px;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 75px;
      font-size: 40px;
      letter-spacing: -0.4px;
    }

    @include media-breakpoint-between(xxl, xxxl) {
      max-width: 65%;
    }

    @include media-breakpoint-up(xxxl) {
      max-width: 50%;
    }
  }

  &__address {
    color: var(--white, #fff);
    font-weight: 500;
    line-height: 135%;
    max-width: 521px;
    width: 100%;

    @include media-breakpoint-down(lg) {
      font-size: 12px;
      margin-bottom: 65px;
      max-width: 260px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 521px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 20px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 26px;
    }
  }

  &__content-inner-wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      margin-top: 12px;
    }

    @include media-breakpoint-up(lg) {
      align-items: center;
    }

    @include media-breakpoint-between(lg, xxxl) {
      margin-top: 22px;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 30px;
    }
  }
}
