@import '@/styles/mixins.scss';

.booking-sign-up-heading {
  position: relative;

  @include media-breakpoint-up(xxxl) {
    margin-bottom: 35px;
  }

  @include media-breakpoint-between(lg, xxxl) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
      align-items: center;
    }
  }

  &__title {
    color: var(--white, #fff);
    font-weight: 600;
    line-height: 117%;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
      letter-spacing: -0.234px;
    }

    @include media-breakpoint-between(lg, xxl) {
      font-size: 36px;
      letter-spacing: -0.5px;
    }

    @include media-breakpoint-between(xxl, xxxl) {
      font-size: 38px;
      letter-spacing: -0.5px;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 50px;
      letter-spacing: -0.5px;
    }
  }

  &__gym {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
