@import '@/styles/mixins.scss';

.navigation-tab {
  color: var(--black, #212428);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: 0.3s ease;

  @include media-breakpoint-down(xl) {
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 16.743px;
  }

  @include media-breakpoint-between(xl, xxxl) {
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 100px;
  }

  @include media-breakpoint-up(xxxl) {
    padding: 10px 24px;
    border-radius: 31px;
    font-size: 22px;
  }

  &.active {
    background: var(--white, #fff);
  }

  &:not(.active) {
    background: var(--white-transperent-2, rgba(255, 255, 255, 0.4));

    &:hover {
      background: #ffffffbf;
      transition: 0.3s ease;
    }
  }

  &:not(:last-of-type) {
    @include media-breakpoint-down(xl) {
      margin-right: 15px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 30px;
    }
  }

  &:not(.active):active {
    background: #8f8f8f;
    transition: 0.3s ease;
  }

  &__icon {
    @include media-breakpoint-down(xl) {
      width: 15px;
      height: 15px;
      margin-right: 6px;
    }

    @include media-breakpoint-up(xl) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }

    svg,
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
