@import '@/styles/mixins.scss';

.profile-text-field {
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 77.255px 0px rgba(22, 23, 26, 0.6);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.092) 10%, rgba(255, 255, 255, 0.041));


    @include media-breakpoint-down(lg) {
      padding: 18px;
      gap: 18px;
      border-radius: 15px;
    }

    @include media-breakpoint-between(lg, xxxl) {
      padding: 30px;
      gap: 30px;
      border-radius: 22px;
    }

    @include media-breakpoint-up(xxxl) {
      padding: 40px;
      gap: 40px;
      border-radius: 30px;
    }
  }
}
